.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid rgb(55, 55, 70);
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin: 12px 24px;
  border-radius: 16px;

  background: repeating-linear-gradient(
    -45deg,
    rgb(205, 155, 255),
    rgb(205, 155, 255) 12px,
    rgb(255, 255, 200) 12px,
    rgb(255, 255, 200) 24px
  );
}

.title {
  margin: 0;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(58, 58, 58);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.formLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
  color: rgb(55, 55, 70);
}

.formInput {
  display: flex;
  margin-left: 10px;
  padding: 4px;
  border: 1px solid transparent;
  outline: 1px solid rgb(127, 117, 207);
}

.formInput::placeholder {
  color: rgb(245, 138, 170);
}

.formInput:focus {
  outline: 1px solid transparent;
  border-bottom: 1px solid rgb(127, 117, 207);
}

.formInput:invalid {
  border-bottom: 1px solid red;
}

/* =======   BUTTON   ======== */

@keyframes bouncing {
  0% {
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: 40px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
  }
}

.submitBtn {
  animation: bouncing 0.7s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate
    both;

  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 50px;
  width: 70px;
  height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;
  color: white;
  background: rgb(127, 117, 207);
  cursor: pointer;
}

.submitBtn:hover,
.submitBtn:focus {
  border: 2px solid #00cc00;
  color: #00cc00;

  background: linear-gradient(
    to bottom,
    rgb(127, 117, 207) 0%,
    rgb(255, 255, 155) 100%
  );
}

/* .submitBtn {
  margin-left: 20px;
  display: inline-flex;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: rgb(129, 117, 207) ;
  background: repeating-linear-gradient(
    -45deg,
    rgb(205, 155, 255),
    rgb(205, 155, 255) 15px,
    rgb(255, 255, 200) 15px,
    rgb(255, 255, 200) 30px
  );
} */
