.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border: 1px solid black;
  background-color: blanchedalmond;
}

.status {
  width: 16px;
  height: 16px;
  color: #000;
  border-radius: 50%;
  border: 1px solid black;
}

.statusOn {
  background-color: green;
}

.statusOff {
  background-color: red;
}
.avatar {
  display: block;
}

.name {
  color: #000;
}
