.title {
  margin-left: 20px;
}

.btnContainer {
  margin-left: 20px;
}

.btn {
  padding: 6px 10px;
  margin-right: 25px;
  cursor: pointer;
  border: none;
  outline-style: none;
  border-radius: 4px;
  background-color: cornflowerblue;
}

li {
  list-style: none;
}

.text {
  font-size: 16px;
  font-weight: 600;
}
